<div class='componentContainer'>
  <h2>{{componTitle}}</h2>
  <div class='paginator-container'>

    <div class='items' *ngFor='let item of items'>
       {{item.author}}
       <div class='imagesContainer'>
        <img [src]="item.download_url" alt="images" class='imagesFromServer'>
       </div>
    </div>


  </div>
</div>
<div class="paginatorButtons">
  <button (click) = 'pagination.previousPage()' [disabled] = 'pagination.isPageFirst'   class="prevButtonStye"> Prev </button>

  <div  #pagination='paginator'
    appPaginator
    type="number"
    [totalCount]='10'
    (onPageChange) = 'pageChangeHandler($event)'>
    <span *ngFor='let page of pages'> {{page}} </span>
  </div>

  <button (click) = 'pagination.nextPage()' [disabled] = 'pagination.isPageLast'  class="nextButtonStye">Next</button>
</div>

