<div class='paginator-container'>
  <h2>{{componTitle}}</h2>
  <div class='paginator-component'>
  <div class='posts' *ngFor='let post of posts'>
     {{post.author}}
     <div class='imagesContainer'>
      <img [src]="post.download_url" alt="images" class='imagesFromServer'>
     </div>
  </div>

    <div class="paginatorButtons">

      <button (click) = 'pagination.previousPage()' [disabled] = 'pagination.isPageFirst'> Prev </button>

      <span
        #pagination = 'paginator'
        appPaginator
        max='20'
        main='1'
        [totalCount] = '20'
        >
       {{pagination.totalCount}}
      </span>

      <button (click) = 'pagination.nextPage()' [disabled] = 'pagination.isPageLast'>Next</button>

    </div>
  </div>
</div>


