
  <div class='paginator-container'>
    <h2>{{componTitle}}</h2>
    <div class='paginator-component'>
    <div class='items' *ngFor='let item of items'>
       {{item.author}}
       <div class='imagesContainer'>
        <img [src]="item.download_url" alt="images" class='imagesFromServer'>
       </div>
    </div>

      <div class="paginatorButtons">

        <button (click) = 'pagination.previousPage()' [disabled] = 'pagination.isPageFirst'   class="prevButtonStye"> Prev </button>
        <input
          #pagination='paginator'
          appPaginator
          type="number"
          [totalCount]='20'
          (onPageChange) = 'pageChangeHandler($event)'
          value='1'
          >
        <!-- <span
          #pagination='paginator'
          appPaginator

          > {{pagination.totalCount}} </span> -->
        <button (click) = 'pagination.nextPage()' [disabled] = 'pagination.isPageLast'  class="nextButtonStye">Next</button>

      </div>
    </div>
  </div>

